*{
    margin: 0px;
    padding: 0px;
}
#start_screen{
    display:block;
}
body{
    background-color: black;
}
#icon{
    position: absolute;
    margin-left: 437px;
    margin-top: 90px;
    width: 211px;
}
#start_text{
    position: absolute;
    color: black;
    margin-left: 498px;
    margin-top: 148px;
    /* width: 15px; */
    font-size:1cm;
}
#boy{
    position: absolute;
    transform: scaleX(-1);
    margin-top: 150px;
    margin-left: 648px;
    width: 500px;
}
#Gold_text{
    position: absolute;
    color: gold;
    margin-left: 297px;
    margin-top: 400px;
    font-size: 100px;
}
#Miner_text{
    position: absolute;
    color: gold;
    margin-left: 358px;
    margin-top: 500px;
    font-size: 100px;
}
#start_text_button{
    /* border: transparent; */
    font-size: larger;
    padding: 10px 10px 10px 10px;
    position: absolute;
    background-color: transparent;
    margin-top: 149px; /*136*/
    margin-left: 498px; /*503*/
}
#goal_background{
    height: 95vh;
    width: 100vw;
    display: none;
}
#ground{
    width: 100vw;
    height: 100vh;
}