*{
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
    padding: 0px;
}
#start_screen{
    display:block;
}
body{
    background-color: black;
}
#icon{
    position: absolute;
    margin-left: 437px;
    margin-top: 90px;
    width: 211px;
}
#start_text{
    position: absolute;
    color: black;
    margin-left: 498px;
    margin-top: 148px;
    /* width: 15px; */
    font-size:1cm;
}
#boy{
    position: absolute;
    transform: scaleX(-1);
    margin-top: 150px;
    margin-left: 648px;
    width: 500px;
}
#Gold_text{
    position: absolute;
    color: gold;
    margin-left: 297px;
    margin-top: 400px;
    font-size: 100px;
}
#Miner_text{
    position: absolute;
    color: gold;
    margin-left: 358px;
    margin-top: 500px;
    font-size: 100px;
}
#start_text_button{
    /* border: transparent; */
    font-size: larger;
    padding: 10px 10px 10px 10px;
    position: absolute;
    background-color: transparent;
    margin-top: 149px; /*136*/
    margin-left: 498px; /*503*/
}
#goal_background{
    height: 100vh;
    width: 100vw;
    display: none;
}
#ground{
    position: absolute;
    z-index: -1;
    display: none;
    width: 100vw;
    height: 100vh;
}
#b_gold1{
    position: absolute;
    margin-top: 507px;
    margin-left: 253px;
    height: 100px;
    width: 100px;
    display: none;

}
#b_gold2{
    position: absolute;
    margin-top: 467px;
    margin-left: 1134px;
    height: 100px;
    width: 100px;
    display: none;

}
#s_gold1{
    position: absolute;
    margin-top: 255px;
    margin-left: 313px;
    height: 30px;
    width: 30px;
    display: none;

}
#s_gold2{
    position: absolute;
    margin-top: 380px;
    margin-left: 427px;
    height: 30px;
    width: 30px;
    display: none;

}
#s_gold3{
    position: absolute;
    margin-top: 302px;
    margin-left: 1004px;
    height: 30px;
    width: 30px;
    display: none;

}
#s_gold4{
    position: absolute;
    margin-top: 434px;
    margin-left: 869px;
    height: 30px;
    width: 30px;
    display: none;

}
#box{
    transform: rotate(45deg);
    position: absolute;
    display: none;
    width: 2px;
    height: 100px;
    margin-left: 50%;
    margin-top: -50px;
}